{% extends 'layout.html' %}


{% block body %}



{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}

    {% endif %}

{% endwith  %}

<div class="container pt-3">
    <div class="row pt-3">
        <div class="col-md-12 text-center">
           <h2 class="text-uppercase fw-bold" style="font-size: 35px;">Amarres para el amor inmediato</h2>
           <p class="lead fw-light lh-sm"><mark>Amor, Fortuna y Vitalidad.</mark> Los tres pilares de la existencia humana. 
            </p>
        </div>
    </div>
</div>    


<!--Descripcion corta-->

<section>
  <div id="banner">
    <div class="container">
      <div class="row pt-4 pb-3">
        <div class="col-6 col-12-medium">

          <!-- Banner Image -->
            <a href="#" class="bordered-feature-image"><img src="{{ url_for('static', filename='img/chaman.png') }}" alt="" /></a>

        </div>
        <div class="col-6 col-12-medium imp-medium">
                            
                            <!-- Banner Copy -->
            <h3 style="font-size: 28px;">Deseos Misticos | Amarre de amor infalible</h3> 
            <p class="lead fw-light pt-2" style="font-size: 22px;">Poderoso hechizo ancestral principalmente utilizado por antiguas comunidades indígenas y maestros espirituales, para recuperar definitivamente el amor verdadero.
                Los amarres pueden variar dependiendo el caso, no en todo los casos es necesario un amarre de amor o no todas las personas son compatibles para ello.
                Podemos ayudarte mediante un estudio relevante de tu vida, déjate ayudar y te vamos a orientar de la mejor manera según tu caso.</p>
            <a href="https://api.whatsapp.com/send?phone=14152514209&text=Hola%20bendiciones%20estimado,%20bienvenido%20a%20Deseos%20misticos" class="button-large">Consulta Gratis</a>

        </div>
      </div>
    </div>
  </div>
</section>	

<!--Fin descripcion corta-->





<!-- Contenido y testimonios -->
<section id="content">
  <div class="container">
    <div class="row aln-center">
      <div class="col-6 col-12-medium">

        <!-- Box #1 -->
          <section>
            <header>
              <h2>Consulta en Facebook</h2>
              <h3>Deseos Misticos</h3>
            </header>
            <a href="#" class="feature-image" style="width: 80px;"><img src="static/img/logo_DeseosMisticos.png" alt=""/></a>
            <p>Tienes Problemas en el Amor? Tu pareja a cambiado? No duermes bien en la noche (No descansas)? Sientes dolores sin ningun motivo aparente?...</p>
            <p>
              Realizamos ceremonias, consultas espirituales personales o telefonicas, mas de 16 años de experiencia y ayuda en florida y en estados Unidos. 
              Todos mis trabajos son garantizados y efectivos. 
            </p>
            
          </section>

      </div>
      <div class="col-6 col-6-medium col-12-small">

        <!-- Box #2 -->
          <section>
            <header>
              <h2>Consulta Gratis</h2>
              <h3>Amarres de amor</h3>
            </header>
            <ul class="check-list">
              <li>amarre de amor inmediato</li>
              <li>Amarre de amor imposible</li>
              <li>Amarre de amor con foto</li>
              <li>Amarre de amor del mismo sexo</li>
              <li>Amarre de amor temporal</li>
              <li>Amarre de amor sexual</li>
            </ul>
          </section>

      </div>
    </div>
  </div>
</section>

<!-- Fin contenido y testimonios -->



<!-- Esto es el contacto -->
<section>	
  <div id="banner">
    <div class="container">
      <div class="col-md-12 pb-5 text-center">
        <h2 class="pb-2 pt-2 text-uppercase fw-bold" style="font-size: 35px;">Contáctanos</h2>
        <h5>Encuentra las respuestas que tanto buscas en tu vida.</h5>
     </div>
      <div class="row">
        <div class="col-6 col-12-medium">

          <!-- Banner Copy -->

            <!-- Box #3 -->
              <section>
                <header>
                  <h2 class="text-uppercase fw-bold">Testimonios</h2>
                  <h3>Deseos Misticos | AYUDA Y GUIA ESPIRITUAL</h3>
                  <p>Testimonios reales de personas que han logrado ser iluminadas por los maestros arcanos, dentro de los Estados Unidos
                </header>
                <ul class="quote-list">
                  <li>
                    <img src="static/css/images/testimonio_1.jpg" alt="Testimonios" />
                    <p>"Recupere el amor de mi pareja que se habia, alejado por una tercera persona."</p>
                    <span>Janet Dolie, Chicago</span>
                  </li>
                  <li>
                    <img src="static/css/images/testimonio_1.jpg" alt="" />
                    <p>"Gracias al Maestro logre recuperarme de una profunda crisis economica."</p>
                    <span>Antoni Garcia, California</span>
                  </li>
                </ul>
              </section>
    
            <a href="https://bit.ly/2VrZgF7" class="button-large">Consulta ya, click!</a>

        </div>
        <div class="col-6 col-12-medium imp-medium">

          <!-- Banner formulario -->
          <div class="card card-body">

            <div style="text-align: center; border-radius: 5px;">

                <h3 class="text-uppercase fw-bold" style="font-size: 35px; padding-top: 15px;">formulario de datos clientes</h3>
                <form action="/add_contact" method="POST">
                    
                    <div class="form-group pt-2">
                       <input type="text" name="fullname" placeholder="Nombre completo" class="form-control">
                    </div>
                    
                    <div class="form-group pt-2">
                       <input type="text" name="phone" placeholder="Telefono" class="form-control">
                    </div>  
                    
                    <div class="form-group pt-2">  
                       <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    
                    <div class="form-group pt-2" >

                        <button type="submit" class="btn btn-primary btn-block form-control" >
                            Enviar           
                        </button>

                    </div>
                
                </form>
                
            </div>
        </div>

              </div>
          
         

        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin de contacto  -->    
{% endblock %}