{% extends 'layout.html' %}

{% block body %}
<div class="col-md-6 offset-md-3">
  <div class="card card-body">
       <h3 style="font-size: 35px; padding-top: 15px;">Editar Productos</h3>
    <form action="/cargar/{{ producto.0 }}" method="POST">
        <div class="form-group pt-2">
            <input type="text" name="nombre" placeholder="Nombre" value="{{ producto.1 }}" class="form-control">
        </div>
        <div class="form-group pt-2">
            <input type="text" name="precio" placeholder="Precio" value="{{ producto.2 }}" class="form-control">
        </div>
        
        <div class="form-group pt-2">
            <input type="text" name="cantidad" placeholder="cantidad" value="{{ producto.3 }}" class="form-control">
        </div>
        <div class="form-group pt-2">
            <input type="file" name="foto" value="{{ producto.4 }}" class="form-control">
        </div>
        <div class="form-group pt-2">
            <button type="submit" class="btn btn-primary btn-block form-control">
            Enviar           
            </button>
        </div>
    </form>
  </div>
</div>


<form method="post" action="/cargar/{{ producto.0 }}" enctype="multipart/form-data">

    Nombre:
    <input type="text" name="nombre" placeholder="Nombre" value="{{ producto.1 }}" class="form-control">
    
    Precio:
    <input type="text" name="precio" placeholder="Precio" value="{{ producto.2 }}" class="form-control">
    
    Cantidad:
    <input type="text" name="cantidad" placeholder="Cantidad" value="{{ producto.3 }}" class="form-control">
    
    Foto:
    <input type="file" name="foto" value="{{ producto.4 }}" class="form-control">
    
    <input type="submit" value="">
</form>

{% endblock %}