{% extends 'layout.html' %}

{% block tittle %}
   
  <title>Inicio</title>

{% endblock%}

{% block body %}



{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}

    {% endif %}

{% endwith  %}

<div class="container pt-3">
    <div class="row pt-3">
        <div class="col-md-12 text-center">
           <h2 class="text-uppercase fw-bold" style="font-size: 35px;">Bienvenidos a Deseos Místicos</h2>
           <p class="lead fw-light lh-sm"><mark>Amor, Fortuna y Vitalidad.</mark> Los tres pilares de la existencia humana. 
            </p>
        </div>
    </div>
</div>     

<section>
  <div class="promo">
      <p>"HE LOGRADO QUE CADA PERSONA SANE SU HERIDA, ENCUENTRE EL AMOR, PERDONE Y SEA LIBRE DE ATADURAS Y LOGRE ASÍ CREAR PARA ÉL Y PARA TODOS UN MUNDO MÁS ARMÓNICO, MÁS VALIOSO Y ENFOCADO EN EL ENGRANDECIMIENTO DEL ESPÍRITU"</p>
</section>


<!--Descripcion corta-->

<section>
  <div id="banner">
    <div class="container">
      <div class="row pt-4 pb-3">
        <div class="col-6 col-12-medium">

          <!-- Banner Image -->
            <a href="#" class="bordered-feature-image"><img src="{{ url_for('static', filename='img/chaman.png') }}" alt="" /></a>

        </div>
        <div class="col-6 col-12-medium imp-medium">
                            
                            <!-- Banner Copy -->
            <h3 style="font-size: 28px;">Deseos Misticos | Ayuda Espiritual👑</h3> 
            <p class="lead fw-light pt-2" style="font-size: 22px;">¿ La relación tendra futuro?, ¿ Te manda señales confusas?, ¿ Te esta siendo infiel?
                          Consulta a los expertos, lo que el tarot y la astrología nos dice sobre esto y dejate ! AYUDAR !
                          Pon la mente de nuestros maestros a prueba, no les comente tus problemas ellos te lo diran todo. Compruebalo tu mismo.</p>
            <a href="https://api.whatsapp.com/send?phone=14152514209&text=Hola%20bendiciones%20estimado,%20bienvenido%20a%20Deseos%20misticos" class="button-large">+1 (404) 462 6380</a>

        </div>
      </div>
    </div>
  </div>
</section>	

<!--Fin descripcion corta-->


<!--Principio Nosotros-->
<div class="container pt-2">
    <div class="row pt-3">
        <div class="col-md-12 text-center">
           <h2 class="text-uppercase fw-bold" style="font-size: 35px;">Nosotros</h2>
           <p class="text-center">Somos un grupo de profesionales santeros, secretistas 
             de la ciencias ocultas, metalista, espiritistas y videntes que ponen a tu 
             disposición sus dones y por medio de una Consulta identificaremos cuales son 
             las necesidades que te aquejan en la vida amorosa, económica y la salud.
            </p>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center gy-2">
              
              <div class="col-4">
                  <div class="p-1 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" 
                           class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Amarres de amor</h3>
                </div>
              </div>
              <div class="col-4">
                <div class="p-1 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Magía Blanca</h3>
                </div>
              </div>
              <div class="col-4">
                
                <div class="p-1 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                        <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                      </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Limpieza Espiritual</h3>
                </div>
                
              </div>
              <div class="col-4 pt-5">
                
                <div class="p-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-cloud-sun-fill" viewBox="0 0 16 16">
                        <path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"/>
                        <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708l.707-.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708l-.708-.707zm1.734 3.374a2 2 0 1 1 3.296 2.198c.199.281.372.582.516.898a3 3 0 1 0-4.84-3.225c.352.011.696.055 1.028.129zm4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377zM14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                      </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Contras para brujería</h3>
                </div>

              </div>
              <div class="col-4 pt-5">
                
                <div class="p-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
                        <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                      </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Ayuda y guía Espiritual con Angeles</h3>
                </div>

              </div>
              <div class="col-4 pt-5">
                
                <div class="p-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    <br>
                    <h3 class="pt-4 text-uppercase fw-bold">Medium Contacto Espiritual</h3>
                </div>

              </div>
            </div>
          </div>
    </div>
</div>
<!--Fin nosotros-->



<!-- Contenido y testimonios -->
<section id="content">
  <div class="container">
    <div class="row aln-center">
      <div class="col-4 col-12-medium">

        <!-- Box #1 -->
          <section>
            <header>
              <h2>Consulta en Facebook</h2>
              <h3>Deseos Misticos</h3>
            </header>
            <a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
            <p>
              Realizamos ceremonias, consultas espirituales personales o telefonicas, mas de 16 años de experiencia y ayuda en florida y en estados Unidos. 
              Todos mis trabajos son garantizados y efectivos. 
            </p>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Box #2 -->
          <section>
            <header>
              <h2>Por que Consultar con:</h2>
              <h3>DESEOS MISTICOS</h3>
            </header>
            <ul class="check-list">
              <li>Maestros especializados y capacitados</li>
              <li>Servicio y acompañamiento las 24 horas</li>
              <li>Experiencia de 20 años en EE.UU</li>
              <li>Garantia de Satisfacción</li>
              <li>Acompañamiento Espiritual Profesional</li>
            </ul>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Box #3 -->
          <section>
            <header>
              <h2 class="text-uppercase fw-bold">Testimonios</h2>
              <h3>Deseos Misticos | AYUDA Y GUIA ESPIRITUAL</h3>
              <p>Testimonios reales de personas que han logrado ser iluminadas por los maestros arcanos, dentro de los Estados Unidos
            </header>
            <ul class="quote-list">
              <li>
                <img src="static/css/images/testimonio_1.jpg" alt="Testimonios" />
                <p>"Recupere el amor de mi pareja que se habia, alejado por una tercera persona."</p>
                <span>Janet Dolie, Chicago</span>
              </li>
              <li>
                <img src="static/css/images/testimonio_1.jpg" alt="" />
                <p>"Gracias al Maestro logre recuperarme de una profunda crisis economica."</p>
                <span>Antoni Garcia, California</span>
              </li>
            </ul>
          </section>

      </div>
    </div>
  </div>
</section>

<!-- Fin contenido y testimonios -->



<!--Esto son los servicios-->

<div class="container mb-5 mt-5">
    <div class="pb-4 text-center">

            <h2 class="text-uppercase fw-bold" style="font-size: 35px;">Servicios</h2>
            <p>Somos un grupo de profesionales santeros, secretistas 
              de la ciencias ocultas, metalista, espiritistas y videntes que ponen a tu 
              disposición sus dones y por medio de una Consulta identificaremos cuales son 
              las necesidades que te aquejan en la vida amorosa, económica y la salud.</p>
          
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in producto %}
        <div class="col">
          <div class="card h-100">
            <img src="uploads/{{ producto.4 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-uppercase fw-bold"> {{ producto.1 }} </h5>
              <p class="card-text text-uppercase fw-bold"> {{ producto.2 }} </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> {{ producto.3 }} </small>
              <br>
              <a href="/" class="btn btn-outline-success mt-2 mb-2 btn-sm">Comprar</a>
              <a href="/amarre_de_amor" class="btn btn-danger btn-sm"> añadir al carrito</a>
            </div>
          </div>
        </div>
        {% endfor %}    
    </div>
     
</div>
<!--Fin servicios-->



<!-- Esto es el contacto -->
<section>	
  <div id="banner">
    <div class="container">
      <div class="col-md-12 pb-5 text-center">
        <h2 class="pb-2 pt-2 text-uppercase fw-bold" style="font-size: 35px;">Contáctanos</h2>
        <h5>Encuentra las respuestas que tanto buscas en tu vida.</h5>
     </div>
      <div class="row">
        <div class="col-6 col-12-medium">

          <!-- Banner Copy -->
            <p>Tienes Problemas en el Amor? Tu pareja a cambiado? No duermes bien en la noche (No descansas)? Sientes dolores sin ningun motivo aparente?...</p>
            <a href="https://bit.ly/2VrZgF7" class="button-large">Consulta ya, click!</a>

        </div>
        <div class="col-6 col-12-medium imp-medium">

          <!-- Banner formulario -->
          <div class="card card-body">

            <div style="text-align: center; border-radius: 5px;">

                <h3 class="text-uppercase fw-bold" style="font-size: 35px; padding-top: 15px;">formulario de datos clientes</h3>
                <form action="/add_contact" method="POST">
                    
                    <div class="form-group pt-2">
                       <input type="text" name="fullname" placeholder="Nombre completo" class="form-control">
                    </div>
                    
                    <div class="form-group pt-2">
                       <input type="text" name="phone" placeholder="Telefono" class="form-control">
                    </div>  
                    
                    <div class="form-group pt-2">  
                       <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>

                    <div class="form-group pt-2">  
                      <input type="text" name="mensaje" placeholder="Mensaje" class="form-control">
                   </div>
                    
                    <div class="form-group pt-2" >

                        <button type="submit" class="btn btn-primary btn-block form-control" >
                            Enviar           
                        </button>

                    </div>
                
                </form>
                
            </div>
        </div>

      </div>
          
         

        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin de contacto  -->    
{% endblock %}
