{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}

    {% endif %}

{% endwith  %}
 


<br>



<div class="container mb-5 mt-5">
    <div class="pb-4 text-center">
        <h2 class="fw-bold" style="font-size: 35px;">Servicios</h2>
        <p>Somos un grupo de profesionales santeros, secretistas 
            de la ciencias ocultas, metalista, espiritistas y videntes que ponen a tu 
            disposición sus dones y por medio de una Consulta identificaremos cuales son 
            las necesidades que te aquejan en la vida amorosa, económica y la salud</p>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in producto %}
        <div class="col">
          <div class="card h-100">
            <img src="uploads/{{ producto.4 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{ producto.1 }} </h5>
              <p class="card-text"> {{ producto.2 }} </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> {{ producto.3 }} </small>
              <br>
              <a href="/" class="btn btn-secondary mt-2 mb-2">Comprar</a>
              <a href="" class="btn btn-danger"> añadir al carrito</a>
            </div>
          </div>
        </div>
        {% endfor %}    
    </div>
     
</div>


 

{% endblock %}