{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}

    {% endif %}

{% endwith  %}

<div class="container">
<div class="row">
 
    <div class="col-md-5">
        
        <div class="card card-body">

            <div style="text-align: center; border-radius: 5px;">

                <h3 style="font-size: 35px; padding-top: 15px;">Ingresar administrador nuevo</h3>
                <form action="/agregar_admin" method="POST" enctype="multipart/form-data">
                    
                    <div class="form-group pt-2">
                       <input type="text" name="nombre" placeholder="Nombre Completo" class="form-control">
                    </div>
                    
                    <div class="form-group pt-2">
                       <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>  
                    
                    <div class="form-group pt-2">  
                       <input type="text" name="cargo" placeholder="Cargo" class="form-control">
                    </div>

                    <div class="form-group pt-2">
                        <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
                    </div>
                    
                    <div class="form-group pt-2" >

                        <button type="submit" class="btn btn-primary btn-block form-control" >
                            Enviar           
                        </button>

                    </div>
                
                </form>
                
            </div>
        </div>



    </div>
    
    
    <div class="col-md-7">

        <table class="table table-striped table-bordered bg-whithe table-sm">
            <thead>
                 <tr style="font-size: 20px; width: 25%; border: 1px solid #000">
                     <td>Nombre </td>
                     <td>Precio </td>
                     <td>Producto </td>
                     <td>Foto</td>
                     <td>Opciones</td>
                 </tr>
             </thead>

             
             <tbody style="border-top: 1px solid #000; border-bottom: 1px solid #000;">
                 {% for admin in admin %}
                    <tr style="font-size: 16px; color: rgb(52, 53, 53); vertical-align: top; border: 1px solid rgb(31, 31, 31);
                    border-spacing: 0;" >
                        <td style="background: #eee">{{ admin.1 }}</td>
                        <td style="background: #eee">{{ admin.2 }}</td>
                        <td style="background: #eee">{{ admin.3 }}</td>
                        <td style="background: #eee">{{ admin.4 }}</td>

                        
                        <td>
                            <a href="/editar/{{admin.0}}" class="btn btn-secondary mb-2 mt-2">Editar </a>
                            <a href="/eliminar/{{admin.0}}" class="btn btn-danger btn-delete "> Eliminar</a>
                            
                        </td>
                        
                    </tr>
                     
                 {% endfor %}
             </tbody>
         </table>   


    </div>
  </div>  
</div>
 


<br>

<div style="text-align: center; padding-top: 80px;">

<h3 style="font-size: 35px; padding-top: 15px;">Administradores</h3>
<table style="margin: auto; background-color: rgb(36, 36, 36); width: 80%;">
   <thead>
        <tr style="font-size: 20px; color: rgb(255, 255, 255); width: 25%; border: 1px solid #000">
            <td>Nombre </td>
            <td>Precio </td>
            <td>Descripción </td>
            <td>Foto </td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody style="border-top: 1px solid #000; border-bottom: 1px solid #000;">
        {% for admin in admin %}
           <tr style="font-size: 16px; color: rgb(52, 53, 53); vertical-align: top; border: 1px solid rgb(31, 31, 31);
           border-spacing: 0;" >
               <td style="background: #eee">{{ admin.1 }}</td>
               <td style="background: #eee">{{ admin.2 }}</td>
               <td style="background: #eee">{{ admin.3 }}</td>
               <td style="background: #eee">{{ admin.4 }}</td>
               
               <td>
                   <a href="/editar/{{admin.0}}">Editar </a>
                   <a href="/eliminar/{{admin.0}}"> Eliminar</a>
               </td>
           </tr>
            
        {% endfor %}
    </tbody>
</table>
</div>



{% endblock %}